{% extends 'base.html' %}

{% block head %}
    <title>로그인</title>
{% endblock head %}

{% block title %}로그인{% endblock title %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            로그인에 문제가 발생했습니다.
        </div>
    {% endif %}
    {% if user.is_authenticated %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 my-4 app-auth-area">
                <div class="mb-5">
                    <h2 class="text-center">Log in to scheduler</h2>
                </div>
                <div class="mb-4">
                    {{ form.username }}
                </div>
                <div class="mb-4">
                    {{ form.password }}
                </div>
                <div class="text-center">
                    <button type="submit" class="app-btn app-btn-lg color-primary w-100">로그인</button>
                    <hr/>
                    <p>새로운 사용자이신가요? <a href="{% url 'register' %}"><strong>회원가입</strong></a></p>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block script %}
{% endblock script %}